<%- include('./partials/header', {title: 'Books Home'}) %>


<%- include('./partials/navbar') %>


<div class="container">
  <form action="/book/add" method="POST">
    <div class="form-group">
      <label for="first_name">Books Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Authors</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="author">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Released Year</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="released_year">
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>

  </form>
</div>

<!-- <form action="" method="post">
  <table>
    <tr>
      <label>Book's Title</label>
      <input type="text" name="title" id="" placeholder="e.g Dangdut Milenium">
    </tr>
    <tr>
      <label>Book's Author</label>
      <input type="text" name="author" id="" placeholder="e.g Maemunah Jamrun">
    </tr>
    <tr>
      <label>Book's Released Year</label>
      <input type="text" name="released_year" id="" placeholder="e.g 2012">
    </tr>
    <tr>
      <input type="submit" value="Add Book">
    </tr>
  </table>
</form> -->


<%- include('./partials/footer') %>