<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <div>
    <h1>Add Book</h1>
  </div>

  <body>
    <form action="" method="post">
      <table>
        <tr>
          <label>Book's Title</label>
          <input type="text" name="title" id="" placeholder="e.g Dangdut Milenium">
        </tr>
        <tr>
          <label>Book's Author</label>
          <input type="text" name="author" id="" placeholder="e.g Maemunah Jamrun">
        </tr>
        <tr>
          <label>Book's Released Year</label>
          <input type="text" name="released_year" id="" placeholder="e.g 2012">
        </tr>
        <tr>
          <input type="submit" value="Add Book">
          <button><a href="/book"></a></button>
        </tr>
      </table>
    </form>
  </body>

</html>